<html>
<head>
<title>annotatr</title>
<link rel="stylesheet" type="text/css" media="screen" href="/styles/style.css"/> 
</head>
<body>
<div id="container">
  <div id="header">annotatr</div>
  <div id="tagline">citeulike+disqus mashup</div>
                
  <div class="abstract" style="text-align:center">
    Find abstracts and comment on them.
  </div>

  <div id="search_bar">
    <form method="get" action="/search/all">
    <input type="text" name="q" style="width:470px"/>
    <input type="submit" value="Search" />
  </div>

  <div class="abstract" style="color:#AAA; text-align:center">
    search examples
    <br>
    <br>
    <a href="/search/all?q=beta+%26%26+sheet*+%21alpha+%21helix">beta && sheet* !alpha !helix</a>
    <br>
    <a href="/search/all?q=author%3A%22franklin+r+e%22">author:"franklin r e"</a>
    <br>
    <a href="/search/all?q=year%3A2007+journal%3Anature">year:2007 journal:nature</a>
    <br>
    <a href="/search/all?q=year%3A%5B1995+TO+1997%5D">year:[1995 TO 1997]</a>
  </div>


</form>
</div>
</body>
</html>
